:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-pink: #dc143c;
  --color-esc: #e1bba9;
  --color-border: ##b67354;
  --transition: 0.5s;
  --font-body: "Poppins", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}
/*****************************************************header***************************************************************************/
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: 600;
  transition: var(--transition);
}

a:hover {
  color: var(--color-pink);
}

html {
  /* width: 100%;
  height: 100vh; */
   background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/fundo_main.png);
  background-size: contain;
  background-position: 100%; }

/* .container {
  width: 100%;
  height: 100vh; */
  /* background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/fundo_main.png);
  background-size: contain;
  background-position: 100%; */

.header-page {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-page ul {
  display: flex;
  gap: 30px;
}

.header-page img {
  width: 70;
  height: 70px;
}

.logo {
  width: 70px;
  height: 70px;
}

/*****************************************************main2***************************************************************************/
.background-livro {
  height: 900px;
  background-position: center;
  background-size: cover;
}

.tittle-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.background-livro .news-tittle {
  color: white;
  font-family: font-titulo-bold;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 1px;
}

.background-livro .news-paragrafo {
  color: white;
  font-family: font-paragrafo-bold;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.news-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*****************************************************cards***************************************************************************/
.card {
  border-radius: 8px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0 20px 20px 40px;
  letter-spacing: -1px;
}
.card:hover {
  box-shadow: 15px 0px 350px 50px;
  color: var(--color-esc);
}
.info-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px;
}
.info-card h2 {
  font-family: font-titulo-bold;
  text-align: center;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
}

.info-card p {
  font-family: font-paragrafo-bold;
  font-weight: bold;
  color: white;
  text-align: justify;
  font-size: 18px;
  padding-bottom: 30px;
}

/*****************************************************footer***************************************************************************/
.footer-flex {
  
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

article h1 {
  color: white;
  font-family: font-titulo-bold;
  font-size: 30px;
}

article p{
  color: white;

}
.box-03 h4 {
  color: white;
  font-family: font-titulo-bold;
  font-size: 18px;
  margin-top: 10px;
}
.box-01 {
  width: 188px;
  height: 255px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: font-paragrado-bold;
  font-size: 15px;
}

.box-02 ul {
  height: 100px;
  font-family: font-paragrafo-bold;
  font-size: 15px;
  display: flex;
  color: white;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none;
}
.box-02 li a {
  color: white;
  text-decoration: none;
}
.box-02 li a:hover {
  transition: 0.5s;
  color: var(--color-pink);
}
.box-03 h4 {
  color: white;
  font-family: font-titulo-bold;
  font-size: 20px;
  margin-top: 10px;
}
.box-03 p {
  color: var(--color-esc);
  font-size: 15px;
}
.input-gradient {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
}
.box-04 .input-gradient input {
  padding-left: 10px;
  color: white;
  background: transparent;
  width: 200px;
  height: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
}
.box-04 input::placeholder {
  color: rgb(255, 255, 255);
  font-family: font-paragrafo-bold;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
}
.box-04 button {
  height: 40px;
  width: 200px;
  background-color: #d245f5;
  color: black;
  font-family: font-titulo-bold;
  font-size: 24px;
  border-radius: 8px;
  margin-top: 30px;
}
.input-gradient {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyright {
  color:var(--color-light);
  display: flex;
  justify-content:center;
}

/* #hero é uma seção que tem como objetivo destacar algo, ocupando toda a largura da tela  */
.hero card {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: var(--color-light);
  text-align: center;

  & info-card {
    font-size: clamp(24px, 4vw, 50px);
  }
  & p {
    width: 60%;
    text-wrap: balance;
    line-height: 1.6;
  }
}
.btn {
  padding: 30px;
  border: 3px solid var(--color-border);
  padding: 8px 30px;
  background-color: var(--color-esc);
  border-radius: 70px;
  transition: background-color var(--transition);
  margin-top: 300px;
  &:hover {
    background-color: transparent;
  }
}

@media screen {
}
